.areaContent {
    width: 95%;
    height: 150px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 30px;
    background:burlywood;
    outline: none;
    resize: none;
}
.areaContent:hover {
    box-shadow: 0 0 5px 1px black;
}

.areaContent:focus {
    background: white;
}