.MyPost {
    margin: 30px 30px;
}

.namePost>span{
    padding: 5px;
    background: burlywood;
    border-radius: 5px 5px 0 0;
    border: 1px solid #000;
    font-weight: 700;
    font-size: 14px;
    color:rebeccapurple;
    font-family: Roboto;
    text-transform:uppercase;
}
.contentPost {
    margin-top:5px;
    padding: 20px;
    background: antiquewhite;
    border-radius: 0px 10px 10px 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contentPost>div:first-child {
    align-self:flex-start;
}
.myBtnDelete {
    margin-top: 20px;
}